fastapi[all]
pandas
pymongo
python-dotenv
motor
uvicorn[standard]
pydantic[email]
pydantic-settings
itsdangerous
python-jose
bcrypt
passlib[argon2]
requests
redis
pydantic-settings
pyjwt==1.7.1
aioredis
boto3
argon2_cffi
