/* Login.css */

body {
  color: #e0e0e0; /* Light text for dark mode */
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #1e1e1e; /* Dark background for the login box */
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #e0e0e0; /* Light text color */
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444; /* Dark border */
  border-radius: 5px;
  width: 100%;
  background-color: #2e2e2e; /* Dark input background */
  color: #e0e0e0; /* Light text inside the input */
  max-width: 380px;
}

.login-input:focus {
  outline: none;
  border-color: #4caf50; /* Green border on focus */
}

.login-button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50; /* Green button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
